@tailwind base;
@tailwind components;
@tailwind utilities;

  
  @layer base {
    

    :root {
      --base-1: 209.99999999999977 100% 99.2156862745098%;
      --base-2: 207.27272727272737 100% 97.84313725490196%;
      --base-3: 205 92.30769230769234% 94.90196078431372%;
      --base-4: 202.85714285714286 100% 91.76470588235294%;
      --base-5: 205.5737704918033 100% 88.0392156862745%;
      --base-6: 207 93.02325581395351% 83.13725490196079%;
      --base-7: 206.53846153846155 85.2459016393443% 76.07843137254902%;
      --base-8: 205.6551724137931 81.92090395480226% 65.29411764705883%;
      --base-9: 206.11764705882354 100% 50%;
      --base-10: 206.5531914893617 95.91836734693877% 48.03921568627451%;
      --base-11: 207.97927461139895 88.12785388127853% 42.94117647058824%;
      --base-12: 216.14457831325302 70.94017094017094% 22.941176470588236%;
      --accent-1: 0 0% 0%;
      --accent-2: 0 0% 0%;
      --accent-3: 0 0% 0%;
      --accent-4: 0 0% 0%;
      --accent-5: 0 0% 0%;
      --accent-6: 0 0% 0%;
      --accent-7: 0 0% 0%;
      --accent-8: 0 0% 0%;
      --accent-9: 0 0% 0%;
      --accent-10: 0 0% 0%;
      --accent-11: 0 0% 0%;
      --accent-12: 0 0% 0%;
      --background: 209.99999999999977 100% 99.2156862745098%;
      --foreground: 216.14457831325302 70.94017094017094% 22.941176470588236%;
      --card: 207.27272727272737 100% 97.84313725490196%;
      --card-foreground: 216.14457831325302 70.94017094017094% 22.941176470588236%;
      --popover: 209.99999999999977 100% 99.2156862745098%;
      --popover-foreground: 216.14457831325302 70.94017094017094% 22.941176470588236%;
      --primary: 0 0% 0%;
      --primary-foreground: 0 0% 100%;
      --secondary: 207.27272727272737 100% 97.84313725490196%;
      --secondary-foreground: 207.97927461139895 88.12785388127853% 42.94117647058824%;
      --muted: 207.27272727272737 100% 97.84313725490196%;
      --muted-foreground: 207.97927461139895 88.12785388127853% 42.94117647058824%;
      --accent: 0 0% 0%;
      --accent-foreground: 0 0% 100%;
      --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
      --destructive-foreground: 350.64935064935065 62.601626016260155% 24.11764705882353%;
      --border: 207 93.02325581395351% 83.13725490196079%;
      --input: 207 93.02325581395351% 83.13725490196079%;
      --ring: 207 93.02325581395351% 83.13725490196079%;
      --radius: 0.5rem;
      --sidebar-background: 0 0% 98%;
      --sidebar-foreground: 240 5.3% 26.1%;
      --sidebar-primary: 240 5.9% 10%;
      --sidebar-primary-foreground: 0 0% 98%;
      --sidebar-accent: 240 4.8% 95.9%;
      --sidebar-accent-foreground: 240 5.9% 10%;
      --sidebar-border: 220 13% 91%;
      --sidebar-ring: 217.2 91.2% 59.8%;
  }
    .dark {
      --base-1: 214.73684210526315 42.22222222222223% 8.823529411764705%;
      --base-2: 218.1818181818182 39.28571428571429% 10.980392156862745%;
      --base-3: 212.06896551724137 69.04761904761905% 16.470588235294116%;
      --base-4: 208.77551020408166 100% 19.215686274509807%;
      --base-5: 206.8965517241379 100% 22.745098039215687%;
      --base-6: 209.2436974789916 78.80794701986756% 29.607843137254903%;
      --base-7: 210.95238095238096 66.31578947368422% 37.254901960784316%;
      --base-8: 211.00671140939596 65.06550218340611% 44.90196078431373%;
      --base-9: 206.11764705882354 100% 50%;
      --base-10: 209.6938775510204 100% 61.568627450980394%;
      --base-11: 209.79020979020981 100% 71.96078431372548%;
      --base-12: 204.59016393442622 100% 88.0392156862745%;
      --accent-1: 0 0% 0%;
      --accent-2: 0 0% 0%;
      --accent-3: 0 0% 0%;
      --accent-4: 0 0% 0%;
      --accent-5: 0 0% 0%;
      --accent-6: 0 0% 100%;
      --accent-7: 0 0% 0%;
      --accent-8: 0 0% 0%;
      --accent-9: 0 0% 100%;
      --accent-10: 0 0% 100%;
      --accent-11: 0 0% 100%;
      --accent-12: 0 0% 100%;
      --background: 214.73684210526315 42.22222222222223% 8.823529411764705%;
      --foreground: 204.59016393442622 100% 88.0392156862745%;
      --card: 218.1818181818182 39.28571428571429% 10.980392156862745%;
      --card-foreground: 204.59016393442622 100% 88.0392156862745%;
      --popover: 214.73684210526315 42.22222222222223% 8.823529411764705%;
      --popover-foreground: 204.59016393442622 100% 88.0392156862745%;
      --primary: 0 0% 100%;
      --primary-foreground: 0 0% 0%;
      --secondary: 218.1818181818182 39.28571428571429% 10.980392156862745%;
      --secondary-foreground: 209.79020979020981 100% 71.96078431372548%;
      --muted: 218.1818181818182 39.28571428571429% 10.980392156862745%;
      --muted-foreground: 209.79020979020981 100% 71.96078431372548%;
      --accent: 0 0% 100%;
      --accent-foreground: 0 0% 0%;
      --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
      --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
      --border: 209.2436974789916 78.80794701986756% 29.607843137254903%;
      --input: 209.2436974789916 78.80794701986756% 29.607843137254903%;
      --ring: 209.2436974789916 78.80794701986756% 29.607843137254903%;
      --radius: 0.5rem;
      --sidebar-background: 240 5.9% 10%;
      --sidebar-foreground: 240 4.8% 95.9%;
      --sidebar-primary: 224.3 76.3% 48%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-accent: 240 3.7% 15.9%;
      --sidebar-accent-foreground: 240 4.8% 95.9%;
      --sidebar-border: 240 3.7% 15.9%;
      --sidebar-ring: 217.2 91.2% 59.8%;
    }
  }

  .background-image {
    background: './background.jpg';

  }

  .bg-modal {
    backdrop-filter: blur(7.449999809265137px);
  }

  .gradient-background {
    background: linear-gradient(300deg,rgba(0, 0, 145, 0.1),rgba(0, 0, 179, 0.25),rgba(0, 0, 111, 0.1));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;

    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }

